<!-- credit to startbootstrap.com w3schools.com -->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Course Organizer App</title>
    <!-- for icons -->
    <script src="https://kit.fontawesome.com/2d30f0a12d.js" crossorigin="anonymous"></script>
</head>

<!-- from bootstrap set up -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="/css/studentOverview.css">
<body>
<!-- side bar -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {{#each courseList}}
        <a href="/studentOverview/{{profId}}/{{courseId}}">{{courseName}} Overview</a>
        <a href="/studentTable/{{profId}}/{{courseId}}">{{courseName}} Material Table</a>
        <a href="/studentCalendar/{{profId}}/{{courseId}}">{{courseName}} Calendar</a>
    {{/each}}
    <img src="/sources/logo.png" width="100%" align="center" alt="">
</div>
<span style="font-size:30px;cursor:pointer;color:white" onclick="openNav()">&#9776;</span>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

<img src="/sources/logo.png" width="12%" align="right" alt="">

<!-- display info in table -->
{{#each courseList}}
    <h1 class="display-4" style="margin-left: 245px">Welcome to Professor {{ professorName }}'s {{ courseName }} Course! </h1>
    <h2>{{ id }}</h2>
    <table class="table table-sm" style="width:700px; margin-left: 390px">
        <thead class="thead-dark">
        <tr>
            <th colspan="2">{{ courseName }}, Course Number: {{ courseId }} </th>
        </tr>
        <tr>
            <td style="width:50%"> Lectures: </td>
            <td> {{ lectureDaysOfWeek }} from {{ lectureStartTime }} - {{ lectureEndTime }} </td>
        </tr>
        <tr>
            <td> Office Hours: </td>
            <td> {{ ohDaysOfWeek }} from {{ ohStartTime }} - {{ ohEndTime }} </td>
        </tr>
        </thead>
    </table>
{{/each}}
<br>
<br>
<br>

<!-- display calendar -->
{{#each professorList}}
    <iframe src="{{calURL}}"
            style="border: 0" width="900" height="500" frameborder="10" scrolling="no"></iframe>
{{/each}}
<br>
<br>
<br>
<br>
<!-- from bootstrap set up -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>